
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: sans-serif;
    min-height: 100vh;
    padding: 20px;

}

.container {

    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    align-items: flex-end;
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    align-content: center;

}


.box {

    min-width: 100px;
    height: 100px;
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


.box:nth-child(6){

    flex-grow: 2;
}